{% extends 'booking/base.html' %}

{% load static %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<div class="banner">
        <div class="container">

        <div class="banner-text">
        <div class="banner-heading">
                {% if user.is_authenticated %}
                <span class="w3-container w3-left w3-hide-small">
                    <a href="{% url 'profile'%}"> <img src="{{ user.profile.image.url }}" class="w3-bar-item w3-circle w3-border-white w3-margin-top " style="width:85px; height:85px"></a>
                </span>
            {% endif %}
        <span class="w3-hide-small w3-hide-medium">Glad to see you here !</span>
        <br>
        </div>
        
        <div class="banner-sub-heading ">
        We Provide Unparalleled Support To Fishers Of Men
        </div>
        <button type="button" class="btn btn-warning text-dark btn-banner">Book Truck</button>
        </div>
        </div>
    </div>

   
    <section id="about" class="w3-padding w3-margin-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
        <div class="text-intro w3-card-4 w3-text-white  w3-white w3-border-red w3-leftbar ">
            <div class="w3-margin">
        <h2>About Us</h2>
            {% for about in abouts %}
                <p>{{ about.content|safe|slice:"500"}}</p>
            {% endfor %}
        </div>
        </div>
            </div>
        <div class="col-sm">
            {% include "partials/_abouts.html" %}
        </div>
        </div>
    </div>
    </div>
</div>
    </section>

<section>
    <div class="text-lead w3-center">
        <h1>Bookings So Far</h1>

    </div>
 {% include "partials/_timeline.html" %}
   
</section>
   
    



{% endblock %}