@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');
.body{
	font-family: 'Gothic A1', sans-serif;
	font-size:16px;
	}
	p{
	color:#6c6c6f;
	font-size:1em;
	}
	h1,h2,h3,h4,h5,h6{color:#323233;text-transform:uppercase;}
.navbar-brand  span{
	color: #fed136;
	font-size:25px;font-weight:700;letter-spacing:0.1em;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}
.navbar-brand {
	color: #fff;
	font-size:25px;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
	font-weight:700;
	letter-spacing:0.1em;
}

.navbar-nav .nav-item .nav-link{
	padding: 1.1em 1em!important;
	font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
   font-family: 'Gothic A1', sans-serif;
}
.navbar-nav .nav-item .nav-link:hover{color:#fed136;}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid #fed136;
}
.dropdown-item:hover{background-color:#fed136;color:#fff;}
nav{-webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
	}
	
 .shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #b60707;
}
.banner{
	background-image:url('../img/kingfisherbird.jpg');
	text-align: center;
    color: #fff;
   
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.aboutbanner{
	background-image:url('../img/about.jpg');
	text-align: center;
    color: #fff;
   
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-text{
	padding:200px 0 150px 0;
}
.banner-heading{
	font-family: 'Lobster', cursive;
	font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
	color:#fff;
}
.banner-sub-heading{
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
	color:#fff;
}

.btn-banner{
	padding:5px 20px;
	border-radius:10px;
	font-weight:700;
	line-height:1.5;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
}
.text-intro{
	width:90%;
	margin:auto;
	text-align:center;
	padding-top:30px;
}


/* mobile view */
@media (max-width:500px)
{
	.navbar-nav{
		background-color:#b60707;
		border-top:3px solid #fed136;
		color:#fff;
		z-index:1;
		margin-top:5px;
		}
	.navbar-nav .nav-item .nav-link{
	padding: 0.7em 1em!important;
	font-size: 100%;
    font-weight: 500;
    }
	.banner-text{
	padding:150px 0 150px 0;
}
.banner-heading{
	font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.banner-sub-heading{
	font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin-bottom: 40px;
}

}

@media (max-width:768px){
	.banner-text{
	padding:150px 0 150px 0;
}
	.banner-sub-heading{
	font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
}
}
 
/* Timeline */
   /*
P.S: if you like my content maybe you will become a donator and donate some money? That helps me to create new awesome materials. https://www.paypal.me/melnik909
*/

.timeline{
	--uiTimelineMainColor: var(--timelineMainColor, #222);
	--uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);
  
	position: relative;
	padding-top: 3rem;
	padding-bottom: 3rem;
  }
  
  .timeline:before{
	content: "";
	width: 4px;
	height: 100%;
	background-color: var(--uiTimelineMainColor);
  
	position: absolute;
	top: 0;
  }
  
  .timeline__group{
	position: relative;
  }
  
  .timeline__group:not(:first-of-type){
	margin-top: 4rem;
  }
  
  .timeline__year{
	padding: .5rem 1.5rem;
	color: var(--uiTimelineSecondaryColor);
	background-color: var(--uiTimelineMainColor);
  
	position: absolute;
	left: 0;
	top: 0;
  }
  
  .timeline__box{
	position: relative;
  }
  
  .timeline__box:not(:last-of-type){
	margin-bottom: 30px;
  }
  
  .timeline__box:before{
	content: "";
	width: 100%;
	height: 2px;
	background-color: var(--uiTimelineMainColor);
  
	position: absolute;
	left: 0;
	z-index: -1;
  }
  
  .timeline__date{
	min-width: 65px;
	position: absolute;
	left: 0;
  
	box-sizing: border-box;
	padding: .5rem 1.5rem;
	text-align: center;
  
	background-color: var(--uiTimelineMainColor);
	color: var(--uiTimelineSecondaryColor);
  }
  
  .timeline__day{
	font-size: 2rem;
	font-weight: 700;
	display: block;
  }
  
  .timeline__month{
	display: block;
	font-size: .8em;
	text-transform: uppercase;
  }
  
  .timeline__post{
	padding: 1.5rem 2rem;
	border-radius: 2px;
	border-left: 3px solid var(--uiTimelineMainColor);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	background-color: var(--uiTimelineSecondaryColor);
  }
  
  @media screen and (min-width: 641px){
  
	.timeline:before{
	  left: 30px;
	}
  
	.timeline__group{
	  padding-top: 55px;
	}
  
	.timeline__box{
	  padding-left: 80px;
	}
  
	.timeline__box:before{
	  top: 50%;
	  transform: translateY(-50%);  
	}  
  
	.timeline__date{
	  top: 50%;
	  margin-top: -27px;
	}
  }
  
  @media screen and (max-width: 640px){
  
	.timeline:before{
	  left: 0;
	}
  
	.timeline__group{
	  padding-top: 40px;
	}
  
	.timeline__box{
	  padding-left: 20px;
	  padding-top: 70px;
	}
  
	.timeline__box:before{
	  top: 90px;
	}    
  
	.timeline__date{
	  top: 0;
	}
  }
  
  .timeline{
	--timelineMainColor: #b60707;
	font-size: 16px;
  }
  
  @media screen and (min-width: 768px){
  
	html{
	  font-size: 62.5%;
	}
  }
  
  @media screen and (max-width: 767px){
  
	html{
	  font-size: 55%;
	}
  }
  
  /*
  * demo page
  */
  
  body{
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
	font-size: 1.6rem;
	color: #222;
  
	background-color: #f0f0f0;
	margin: 0;
	-webkit-overflow-scrolling: touch;   
	overflow-y: scroll;
  }
  
  p{
	margin-top: 0;
	margin-bottom: 1.5rem;
	line-height: 1.5;
  }
  
  p:last-child{
	margin-bottom: 0;
  }
  
  .page{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  }
  
  .page__demo{
	flex-grow: 1;
  }
  
  .main-container{
	max-width: 960px;
	padding-left: 2rem;
	padding-right: 2rem;
  
	margin-left: auto;
	margin-right: auto;
  }
  
  .page__container{
	padding-top: 30px;
	padding-bottom: 30px;
	max-width: 800px;
  }
  
  .footer{
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;  
	font-size: 1.4rem;
  }
  
  .footer__link{
	text-decoration: none;
	color: inherit;
  }
  
  @media screen and (min-width: 361px){
  
	.footer__container{
	  display: flex;
	  justify-content: space-between;
	}
  }
  
  @media screen and (max-width: 360px){
  
	.melnik909{
	  display: none;
	} 
  }