

        <div class=" mb-3">
                <button class="w3-xlarge w3-theme btn w3-center w3-hover-white w3-border-theme w3-block" data-toggle="modal" data-target="#inquiryModal" style="border: 4px"> <h3 class="w3-center">Truck & Sound System Reservation</h3>
        
               <span class="btn w3-xlarge w3-round-xlarge w3-margin w3-border-theme w3-white w3-hover-theme">Make Reservation</span> 
                <h5 class="w3-center"><span class="w3-text-red">NB:</span>Pick unique dates</h5>
            </button>
        </div>
        
        
         <div class="w3-panel">
             <!-- Alerts -->
             {% include 'partials/_alerts.html' %}
         </div>
          <!-- Inquiry Modal -->
          <div class="modal fade " id="inquiryModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header w3-win8-red">

                  <button type="button" class="close" data-dismiss="modal">
                    <span class="w3-text-white">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                      <form action="{% url 'index' %}" method="POST">
                        {% csrf_token %}
                  
                       {% if user.is_authenticated %}
                     
        
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        {% else %}
                          <input type="hidden" name="user_id" value="0">
                        {% endif %}
                        <input type="hidden" name="booking_id" value="{{ booking.id }}">
                        <div class="form-group">
                        <label for="first_name">First Name</label>
                              <input type="text" name="first_name" class="form-control" value="{{ user.first_name}}" required>
                            </div>

                            <div class="form-group">
                              <label for="last_name">Last Name</label>
                              <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}" required>
                            </div>
                        <div class="form-group">
                          <label for="email" class="col-form-label">Email:</label>
                          <input type="email" name="email" class="form-control"  value="{{ user.email }}"  required>
                        </div>
                        <div class="form-group">
                            <label for="phone_number" class="col-form-label">Phone:</label>
                            <input type="text" name="phone_number" class="form-control" required>
                          </div>
                
                        <div class="form-group">
                            <label for="ministry_name" class="col-form-label">Ministry name:</label>
                            <input type="text" name="ministry_name" class="form-control" required>
                          </div>
                  
                
                          <h4>When you need the truck</h4>
                        <div class="form-group">
                              <label for="booking_date" class="col-form-label">From:</label>
                              <input type="date" name="booking_date" class="form-control" required>
                            </div>
                        <div class="form-group">
                            <label for="return_date" class="col-form-label">To: </label>
                            <input type="date" name="return_date" class="form-control">
                          </div>

                        <hr>
                        <input type="submit" value="Send" class="btn btn-block w3-hover-amber w3-large w3-highway-red w3-border-amber">
                      </form>
                   
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            {% if booktrucks %}
        <div class="w3-container">
            <h1 class="w3-center "><span class="w3-text-red w3-Xxxlarge">B</span>ookings</h1>
            <div><h3 class="w3-center w3-small"><span class="w3-text-red ">NB: </span> All Bookings will be approved once your payments are received.......</h3></div>
            <table class="w3-table">
              <tr>
                <th class="w3-camo-black"> Ministry</th>
                <th class="w3-camo-black">From</th>
                <th class="w3-camo-black">To</th>
                <th class="w3-camo-black">Approval</th>
              
                
              </tr>
              <h6 class="w3-center"><i>below are all booked dates from when the truck and sound systems are hired to when they are returned, please pick only dates that have not been booked</i> </h6>
              <hr class="w3-green" style="padding:3px;">
              {% for booktruck in booktrucks %}
             
              <tr>
                <td>{{booktruck.ministry_name}}</td>
                <td>{{booktruck.booking_date}}</td>
                <td>{{booktruck.return_date}}</td>
                <td>
                    {% if booktruck.approved%}
                    <span class="w3-green w3-button ">Approved</span>
                    {% else %}
                    <span class="w3-red w3-button ">waiting.....</span>
                    {% endif %}
        
                </td>
               
              </tr>
              {% endfor %}
        
        {% else %}
        <style>.w3-lobster {font-family: "Lobster", serif;}</style>
        <div class="alert alert-primary w3-wide w3-animate-fading w3-center w3-content" role="alert">
                <h4 class="w3-lobster">No Bookings Have Been Made Yet!</h4>
               
        </div>
        
        
        {% endif %}
        
            </table>
            
          </div>
          <br><br><br>
          
    