{% load static %}
<footer class="bg-grey  ">
        <br> <br>
<div class="container w3-border-red w3-topbar ">
    
    <div class="row w3-margin w3-padding w3-text-black w3-2019-creme-de-peche ">
        <div class="col-sm w3-theme-l4 w3-card-4 ">        
            <h6><b>Email:</b></h6>
            <p>voicesaflame@gmail.com</p>
        </div>

        <div class="col-sm w3-theme w3-card-4">
   
        <h6><b>Address:</b></h6>
        <p>P.O BOX 32509-0900</p>
        </div>
        <div class="col-sm w3-theme-d4 w3-card-4">
            <h6><b>Phones:</b></h4>
            <p>0987 450 345: 0760 078 098</p>
                
    </div>
</div>
<br> <br>
</footer>